<div class="message" fxLayout="row" fxLayoutAlign="fill start" fxLayoutGap="20px" *ngFor="let message of thread.messages">
    <div class="author" style="text-align: right;">
        <button mat-mini-fab *ngIf="loggedInAs !== message.author">{{ GetNameInitials(message.author) | uppercase }}</button>
    </div>
    <div class="message-text" fxFlex="auto">
        {{ message.text }}
    </div>
    <div class="author"  style="text-align: left;">
        <button mat-mini-fab *ngIf="loggedInAs === message.author">{{ GetNameInitials(message.author) | uppercase }}</button>
    </div>
</div>