
<mat-form-field style="font-size: 16px;padding-top: 16px;">
    <mat-label>Logged In As:</mat-label>
    <mat-select [(value)]="loggedInAs" (selectionChange)="setLogin($event)">
        <mat-option *ngFor="let account of accounts" [value]="account.id">
        {{account.firstname}} {{account.lastname[0]}}.
        </mat-option>
    </mat-select>
    </mat-form-field>
<mat-menu #profile="matMenu" class="mymegamenu">
    <!-- <button mat-menu-item>
        <mat-icon>settings</mat-icon> Settings </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Sign Out </button> -->
</mat-menu>

